/.vscode
/convertendo_tipos.py
/desafio_mes.py
/desafio_paulinho.py
/estruturas_condicionais.py
/estruturas_condicionais_aninhada.py
/estruturas_condicionais_ternaria.py
/estrutura_repeticao_break.py
/estrutura_repeticao_for.py
/estrutura_repeticao_while.py
/identacao_blocos.py
/operadores_aritmeticos.py
/operadores_associacao.py
/operadores_de_atribuicao.py
/operadores_de_comparacao.py
/operadores_identidade.py
/operadores_logicos.py
/primeiro_programa.py
/print_input.py
/string_1.py
/tipos_de_dados.py
/tweet.py
/tweet_test_2.py
/variaveis_constantes.py